$header-bg-color: #f7ebe5;
$accent-color: #e7426a;
$logo: #b3d9f3;
$hero-bgc-blue: rgba(111, 217, 251, 0.6);
$hero-bgc-pink: rgba(152, 224, 194, 0.38);
$header-color: rgba(0, 0, 0, 0.79);
$nav-color: #2b1414;
$primery-text-color: #292929;
