.header {
  position: fixed;
  width: 100%;
  min-width: 320px;
  background-color: $header-bg-color;
}

.header .container {
  padding-left: 0;
  padding-right: 0;
}

.gamburgerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.gamburgerMenuBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18x;
  cursor: pointer;
}

.gamburgerMenuBtn span {
  position: relative;
  width: 20px;
  border: 1px solid $nav-color;
  background-color: $nav-color;
}

.checkbox {
  position: absolute;
  apacity: 0;
}

#checkbox:checked ~ .gamburgerMenuBtn span {
  transform: rotate(45deg);
}

#checkbox:checked ~ .gamburgerMenuBtn span::before {
  transform: rotate(90deg);
  top: -1px;
}

#checkbox:checked ~ .gamburgerMenuBtn span::after {
  display: none;
}

.menuLinks {
  visibility: hidden;
  position: fixed;
  top: 68%;
  // left: 25%;
  // display: flex;
  // flex-direction: column;
  display: block;
  min-width: 320px;
  width: 100%;
  // overflow-y: scroll;
  height: calc(100% - 68%);
  overflow: auto;
  background-color: $header-bg-color;
}

#checkbox:checked ~ .menuLinks {
  visibility: visible;
}

.gamburgerMenuBtn span::before {
  content: '';
  position: absolute;
  width: 20px;
  top: -6px;
  left: -1px;
  border: 1px solid $nav-color;
  background-color: $nav-color;
}

.gamburgerMenuBtn span::after {
  content: '';
  position: absolute;
  width: 12px;
  bottom: -6px;
  left: -1px;
  border: 1px solid $nav-color;
  background-color: $nav-color;
}

#checkbox {
}

.cartLink {
  display: block;
  padding: 18px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo .head {
  position: relative;
}

.logo .logoText {
  position: absolute;
  top: 30px;
}

.logo .butterfly {
  position: absolute;
  top: 60px;
}

.itemDesktop.is-hiden {
  display: none;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons li:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 800px) {
  .gamburgerMenuBtn,
  .checkbox {
    display: none;
  }

  .menuLinks {
    display: flex;
    flex-direction: column-reverse;
  }

  .navigationServices {
    display: flex;
    flex-flow: column;
  }
}

@media screen and (min-width: 320px) and (man-width: 799px) {
}
